{% extends 'accounts/base_accounts.html' %}

{% block title %}
<title>Kontaktna forma / Biblio-pol</title>
{% endblock %}

{% block content %}
<h3>Kontakt</h3>

{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}
<div>
	<form action="/kontakt/{{ name }}/" method="post">{% csrf_token %}
	    {{ form.non_field_errors }}
	    <div class="">
	        {{ form.subject.errors }}
	        <label for="id_subject"><b>Tema poruke:</b></label>
	        {{ form.subject }}
	    </div>
	    <div class="">
	        {{ form.message.errors }}
	        <label for="id_message"><b>Tekst poruke:</b></label>
	        {{ form.message }}
	    </div>
	    <div class="">
	        {{ form.email.errors }}
	        <label for="id_email"><b>Vaša email adresa:</b></label>
	        {{ form.email }}
	    </div>
	    <p><input class="btn" type="submit" value="Pošalji" /></p>
	</form>
</div>
{% endblock %}