{% extends "base.html" %}
{% block title %}Django App{% endblock %}
{% block head %}
<meta name="keywords" content="Python, Django, Github, Project, Starter, Application, App, Heroku, Compass, Sass, Less, Bootstrap, Mandrill, django-userena, djrill">
<meta name="description" content="Python/Django Starter App. Get your project up and running. Quickly.">
<meta property="og:image" content="http://www.eldjango.com/static/engagement-picnic.jpg"/>
<meta property="og:title" content="El Django | A Python Starter App"/>
<meta property="og:url" content="http://www.eldjango.com" />
<meta property="og:description" content="Python/Django Starter App. Get your project up and running. Quickly."/>
<meta property="og:type" content="website" />
{% endblock %}

{% block body_class %}body-home-page{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-sm-3 col-lg-3 col-md-3">
            {% include 'includes/category_menu.html' %}
        </div>

        <div class="col-sm-9 col-lg-9 col-md-9">

            <div class="row">
  
                {% if book_list.count > 0 %}
       
                   {% for book in book_list %}
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                            <div class="thumbnail">
                                <a href={% url "books:detail" book.id %}>
                                   <img src="{{MEDIA_URL}}{{ book.docfile }}" alt="">
                                </a>
                                <div class="caption">
                                    <a href={% url "books:detail" book.id %}>
                                       <h6>{{ book.title }}</h6>
                                    </a>
                                    <p>
                                       <span>{{ book.description }}</span> 
                                    </p>
                                </div>
                                <h5 class="pull-right">{{ book.price }} kn</h4>
                                
                            </div>
                        </div>
                   {% endfor %}
                   <!-- Ovo je da se pagincija pokazuje ispod oglasa, a ne desno od njih(ako je samo jedan u redu -->
                   <div class="clear"></div>
                   
                   <div class="pagination">
                        <span class="step-links">
                            {% if book_list.has_previous %}
                                <a href="?page={{ book_list.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ book_list.number }} of {{ book_list.paginator.num_pages }}.
                            </span>
                    
                            {% if book_list.has_next %}
                                <a href="?page={{ book_list.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                {% else %}
                   <p> None for show! </p>
                {% endif %}               
                
            </div>

        </div>

    </div>

</div>
<!-- /.container -->
{% endblock %}