{% extends "base.html" %}
{% block title %}<title>O portalu / Biblio-pol</title>{% endblock %}
{% block head %}
<meta name="keywords" content="stare knjige na prodaju, kupujem stare knjige, stare knjige antikviteti, polovne knjige prodaja, stare knjige prodaja, prodajem stare knjige">
<meta property="og:image" content=""/>
<meta property="og:title" content="Online servis za razmjenu, kupnju i prodaju knjiga / Biblio-pol"/>
<meta property="og:url" content="http://www.biblio-pol.net" />
<meta property="og:description" content="Razmjena, kupnja i prodaja knjiga."/>
<meta property="og:type" content="website" />
{% endblock %}

{% block body_class %}body-home-page{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-sm-3 col-lg-3 col-md-3">
            {% include 'includes/category_menu.html' %}
        </div>

        <div class="col-sm-9 col-lg-9 col-md-9" style="letter-spacing: 2px; font-size:11px">
           <p class="list-group-item">Osnovna ideja ovog portala je da postane mjesto gdje se knjige mogu kupiti, ponuditi na prodaju ili zamijeniti. 
           <br><br>U kojoj mjeri će to biti ostvareno ovisi ponajviše o Vama. Ja osobno trudit ću se da portal tehnički dobro funkcionira i koliko to budem u mogućnosti, dodavat ću nove sadržaje i funkcionalnosti koji bi trebali pridonijeti boljem ukupnom dojmu i iskustvu tijekom surfanja. 
           <br><br>U svakom slučaju, radujem se Vašim posjetima!
        </div>

    </div>

</div>
<!-- /.container -->
{% endblock %}