{% extends 'accounts/base_accounts.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }} | Profile{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
  <div class="white-box">
    
    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      <ul id="box-nav" class="inline">
          {% block profile_navigation_items %}
            <li><a href="{% url 'accounts_profile_detail' %}">{% trans "View profile" %}</a></li>
            <li><a href="{% url 'accounts_profile_edit' %}">{% trans "Edit details" %}</a></li>
            <li><a href="{% url 'accounts_password_change' %}">{% trans "Change password" %}</a></li>
            <li><a href="{% url 'accounts_email_change' %}">{% trans "Change email" %}</a></li>
            <li><a href="{% url 'accounts_my_books' %}">Moji oglasi</a></li>
          {% endblock %}
      </ul>
    {% endblock %}
    
    <div id="details">
      {% block profile_details %}
        {% if my_books_list.count > 0 %}
            <div class="row">
            {% for book in my_books_list %}
               <div class="col-sm-12 col-lg-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{{MEDIA_URL}}{{ book.docfile }}" alt="">
                        <div class="caption">
                            <a href={% url "books:detail" book.id %}>
                               <h6>{{ book.title }}</h6>
                            </a>
                            <p>
                               <span>{{ book.description }}</span> 
                            </p>
                        </div>
                        <h5 class="pull-right">{{ book.price }} kn</h4>
                        
                    </div>
                </div>
            {% endfor %}
            </div>
            
       {% else %}
           <p> None for show! </p>
       {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
