{% extends 'accounts/base_accounts.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}<title>Promjena zaporke / Biblio-pol</title>{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form action="" method="post" id="password_change_form">
  <a href="{% url 'accounts_profile_detail' %}">Moj profil</a></li>
  <fieldset>
    <legend>Promjena zaporke</legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input class="btn" type="submit" value="{% trans "Change password" %}" />
</form>
{% endblock %}
