{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}<title>Moj profil / Biblio-pol</title>{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block profile_navigation %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'accounts_my_books' %}"><i class="glyphicon glyphicon-book"></i> Moji oglasi</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-wrench"></i> Uredi <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'accounts_password_change' %}"><i class="glyphicon glyphicon-wrench"></i> Promjena zaporke</a></li>
              <li><a href="{% url 'accounts_profile_edit' %}"><i class="glyphicon glyphicon-user"></i> Uredi profil</a></li>
              <li class="divider"></li>
            </ul>
          </li>
        </ul>
        
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
{% endblock %}

{% block content %}
    
    <div id="details">
      {% block profile_details %}
        <dl>
          {% block profile_definition_list %}
            {% if user.username %}
              <dt>Korisničko ime:</dt>
              <dd>{{ user.username }}</dd>
            {% endif %}
            {% if user.email and not hide_email %}
              <dt>Email:</dt>
              <dd>{{ user.email }}</dd>
            {% endif %}
            
            <!-- Za django < 1.7 koristili smo user.get_profile() metodu -->
            {% if user.userprofile.zupanija %}
              <dt>Županija:</dt>
              <dd>{{ user.userprofile.zupanija }}</dd>
            {% endif %}
            {% if user.userprofile.mobitel %}
              <dt>Telefon:</dt>
              <dd>{{ user.userprofile.mobitel }}</dd>
            {% endif %}
          {% endblock %}
        </dl>
      {% endblock %}
    </div>
  </div>
{% endblock %}
