{% extends 'accounts/base_accounts.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }} | Profile{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
  <div class="white-box">
    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      <ul id="box-nav" class="inline">
          {% block profile_navigation_items %}
            <li><a href="{% url 'accounts_profile_edit' %}"><i class="icon-edit"></i> Uredi profil</a></li>
            <li><a href="{% url 'accounts_password_change'%}"><i class="icon-wrench"></i> Promjena zaporke</a></li>
            <li><a href="{% url 'accounts_my_books' %}"><i class="icon-book"></i> Moji oglasi</a></li>
          {% endblock %}
      </ul>
    {% endblock %}

    <div id="details">
      {% block profile_details %}
        <dl>
          {% block profile_definition_list %}
            {% if user.username %}
              <dt>{% trans "Name" %}</dt>
              <dd>{{ user.username }}</dd>
            {% endif %}
            {% if user.email and not hide_email %}
              <dt>{% trans "Email" %}</dt>
              <dd>{{ user.email }}</dd>
            {% endif %}
            
            <!-- Za django < 1.7 koristili smo user.get_profile() metodu -->
            {% if user.userprofile.zupanija %}
              <dt>Županija</dt>
              <dd>{{ user.userprofile.zupanija }}</dd>
            {% endif %}
            {% if user.userprofile.mobitel %}
              <dt>Mobitel</dt>
              <dd>{{ user.userprofile.mobitel }}</dd>
            {% endif %}
          {% endblock %}
        </dl>
      {% endblock %}
    </div>
  </div>
{% endblock %}
