{% extends 'accounts/base_accounts.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}<title>Prijava / Biblio-pol</title>{% endblock %}

{% block content %}
<form action="/accounts/auth/" method="POST">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Prijavi se" %}</legend>
    {{ form.non_field_errors }}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    <p class="checkbox">
    <label for="username">Korisnicko ime:</label><input type="text" name="username" id= "username" /><br />
    </p>
    <p class="checkbox">
    <label for="password">Zaporka:</label><input type="password" name="password" id= "password" /><br /> 
    </p>
    
  </fieldset>
  <input class="btn" type="submit" value="Prijava" />
  <p>
  <p>Niste još registrirani? <a href="/accounts/register">Registracija</a></p>
</form>

{% endblock %}
