{% extends 'accounts/base_accounts.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<form action="/accounts/register/" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Signup" %}</legend>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name != 'mobitel' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }} *</label>
    </p>
    {% else %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }} <i>(nije obvezno)</i> </label>
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  <input class="btn" type="submit" value="{% trans "Signup"%}" />
</form>
{% endblock %}
