<p class="lead">Kategorije</p>
<div class="list-group">
    <a href="#" class="list-group-item">Stručna literatura</a>
    <a href="#" class="list-group-item">Antikvarne knjige</a>
    <a href="#" class="list-group-item">Književnost i beletristika</a>
    <a href="#" class="list-group-item">Strana literatura </a>
    <a href="#" class="list-group-item">Enciklopedije i priručnici </a>
    <a href="#" class="list-group-item">Periodika </a>
    <a href="#" class="list-group-item">Stripovi</a>
</div>