<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Biblio<span style="color: #bbb; font-size:18px">pol</a>
	<ul class="nav pull-right">
		{% if user.is_authenticated %}
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle user-dropdown" data-toggle="dropdown">
				<i class="glyphicon glyphicon-user"></i>
				Pozdrav, {% if user.first_name %}
					{{ user.first_name }}
					{% else %}
					{{ user.username }}
					{% endif %}
				<b class="caret"></b></a>
			    <ul class="dropdown-menu">
			      <li><a href="{% url 'accounts_profile_detail' %}"><i class="glyphicon glyphicon-user"></i> Moj Profil</a></li>
                  <li><a href="{% url 'accounts_my_books' %}"><i class="glyphicon glyphicon-book"></i> Moji oglasi</a></li>
			      <li class="divider"></li>
			      <li><a href="/accounts/logout/"><i class="glyphicon glyphicon-off"></i> Odjava</a></li>
			    </ul>
			</li>
		{% endif %}
	</ul>
  </div>
</div>