{% load staticfiles %}
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Biblio-pol</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href={% url "o_portalu" %}>O portalu</a>
                    </li>
                    <li>
                        <!-- Username postgres mogao bih promijeniti u admin npr, biti ce ljepse za posjetitelje -->
                        <a href={% url "kontakt" "postgres" %}>Kontakt</a>
                    </li>
                    <li>
                        <!-- Koristim jednorednu verziju if naredbe, tako dobivenu klasu saljem u ajax.js -->
                        <a class="{{ user.is_authenticated|yesno:"logged,not_logged" }}" href={% url "books:add_book" %}>Predaj oglas</a>
                    </li>
                    
                                       
                </ul>
                <!-- User manipulation link-shawn on top right place -->
                <ul class="nav navbar-nav pull-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle user-dropdown" data-toggle="dropdown">
                            <!-- U Bootstrap-u 3.0 koristimo glyphicon, nema vise icon, takodjer sam morao i 
                                 kopirati Font folder i dopremiti ga u static/ folder --> 
                            <i class="icon-user"></i>
                            Pozdrav, {% if user.first_name %}
                                {{ user.first_name }}
                                {% else %}
                                {{ user.username }}
                                {% endif %}
                            <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="{% url 'accounts_profile_detail' %}"><i class="glyphicon glyphicon-user"></i> Moj Profil</a></li>
                              <li><a href="{% url 'accounts_my_books' %}"><i class="glyphicon glyphicon-book"></i> Moji oglasi</a></li>
                              <li class="divider"></li>
                              <li><a href="/accounts/logout/"><i class="glyphicon glyphicon-off"></i> Odjava</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/accounts/register/">Registracija</a></li>
                        <li><a href="/accounts/login/">Prijava</a></li>	
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>