{% extends "base.html" %}
{% block title %}Django App{% endblock %}
{% block head %}
<meta name="keywords" content="Python, Django, Github, Project, Starter, Application, App, Heroku, Compass, Sass, Less, Bootstrap, Mandrill, django-userena, djrill">
<meta name="description" content="Python/Django Starter App. Get your project up and running. Quickly.">
<meta property="og:image" content="http://www.eldjango.com/static/engagement-picnic.jpg"/>
<meta property="og:title" content="El Django | A Python Starter App"/>
<meta property="og:url" content="http://www.eldjango.com" />
<meta property="og:description" content="Python/Django Starter App. Get your project up and running. Quickly."/>
<meta property="og:type" content="website" />

{% endblock %}

{% block body_class %}body-home-page{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            {% include 'includes/category_menu.html' %}
        </div>

        <div class="col-md-9">

            <div class="row">
               
               <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="thumbnail wider">
                                <a href={% url "books:detail" book.id %}>
                                   <img src="{{MEDIA_URL}}{{ book.docfile }}" alt="">
                                </a>
                                <div class="caption">
                                    <a href={% url "books:detail" book.id %}>
                                       <h6>{{ book.title }}</h6>
                                    </a>
                                    <p>
                                       {{ book.description }}
                                    </p>
                                </div>
                                <h5 class="pull-right margina-desno"><b>Cijena: {{ book.price }} kn</b></h5>
                                
                            </div>
                            <h4>Podaci o oglašivaču </h4>
                            <a href={% url "books:oglasi_korisnika" book.user %}><b>{{ book.user }}</b></a>
                            <br>
                            {{ book.user.userprofile.zupanija }}
                            <br>
                            <a href={% url "books:oglasi_korisnika" book.user %}>Svi oglasi ovog oglašivača </a>
                            <hr>
                            <b>Telefon:</b> {{ book.user.userprofile.mobitel }}
                            <br>
                            <a href={% url "kontakt" book.user %}>Kontaktiraj oglašivača</a>
                        </div>
            
            </div>

        </div>

    </div>

</div>
<!-- /.container -->
{% endblock %}