    {% if search_list.count > 0 %}
       
       {% for book in search_list %}
            <div class="col-sm-12 col-lg-6 col-md-6">
                <div class="thumbnail">
                    <img src="{{MEDIA_URL}}{{ book.docfile }}" alt="">
                    <div class="caption">
                        <a href={% url "books:detail" book.id %}>
                           <h6>{{ book.title }}</h6>
                        </a>
                        <p>
                           <span>{{ book.description }}</span> 
                        </p>
                    </div>
                    <h5 class="pull-right">{{ book.price }} kn</h4>
                    
                </div>
            </div>
       {% endfor %}
       <div class="pagination">
            <span class="step-links">
                {% if search_list.has_previous %}
                    <a href="?page={{ search_list.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ search_list.number }} of {{ search_list.paginator.num_pages }}.
                </span>
        
                {% if search_list.has_next %}
                    <a href="?page={{ search_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
       <p> None for show! </p>
    {% endif %} 
